
<h1>We are working on ROR application</h1>
<p>
Creating new page is app pages controller add the name of the page. the on views the pages add name of file with extension html and erb new file save and fun.
</p>