<h1>Welcome to MY Application</h1>
<p1>
Sign Up here(Front End Of the application)
</p1><br/>
<p2>
Models will contain all the deatils of database. Controller will connect the data to View.
MVC Architecture MOdels view and Controller architecture.View will get instruction from controller to show the pages.
</p2><br/>
<p3>
<b><i>
Sign Up here</i>
</b>
</p3><br/>
<p4>
<img scr = "C:\Users\rajesh\Pictures\water.jpg" height ="100px" width ="100px"/>
</p4>
